{% extends 'base.html' %}

{% block content %}
  <h1>Registrarse</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
       {{ field.label_tag }}<br>
    {% if field.help_text %}
      <small style="color: grey">{{ field.help_text|safe }}</small>
    {% endif %}
    {{ field }}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    <button class="button special" type="submit">Registrarse</button>
  </form>
  <hr class="major" />
    <p><strong>-- OR --</strong></p>
   <a  class="button special" href="{% url 'social:begin' 'facebook' %}?next=/">Registrarse con Facebook</a>
{% endblock %}
