{% load scheduletags %}
<div>
  {% if day.has_occurrences %}
      {% for o in day.get_occurrence_partials %}
              <a  href="{% url "day_calendar" calendar.slug %}{% querystring_for_date day.start 3 %}" ><button type="button small" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#occurenceModal"> 

                  <div class="starttime">
                      {% ifequal o.class 0 %}{{ o.occurrence.start|time:"G:i" }}{% endifequal %}
                      {% ifequal o.class 1 %}{{ o.occurrence.start|time:"G:i" }}{% endifequal %}
                      {% ifequal o.class 2 %}(All day){% endifequal %}
                      {% ifequal o.class 3 %}Ends at {{ o.occurrence.end|time:"G:i" }}{% endifequal %}
                  </div>
                  <div class="eventdesc">
                      {% title o.occurrence %}
                  </div>
              </button></a>
            
      {% endfor %}
  {% endif %}
</div>
