{% extends "base.html" %}
{% load scheduletags i18n %}

{% block body %}
{% include "schedule/_dialogs.html" %}

<header >
  <h2>Hola {{ request.user.get_full_name}}!</h1>
</header>
<div class="row 200%">
  <div class="6u 12u$(medium)">
    <h3>Estas son tus actividades para el <strong>{{ calendar.name }}</strong:></h3>
    <h4><strong>{% prevnext "month_calendar" calendar period "F Y" %}</strong></h4>
    <div class="now">
      <a class="button" href="{% url "month_calendar" calendar.slug %}">
        {% trans "This month" %}
      </a>
    </div>
  </div>
</div>
  <div class="row row-centered">
    <div>
     {% month_table calendar period "regular" %}
    </div>
</div>
{% endblock %}
