{% extends "base.html" %}
{% load scheduletags i18n %}

{% block body %}

{% include "schedule/_dialogs.html" %}




<header >
  <h2>Hola {{ request.user.get_full_name}}!</h1>
</header>
<div class="row 200%">
  <div class="6u 12u$(medium)">
    <h3>Estas son tus actividades para el <strong>{{ calendar.name }}</strong:></h3>
    <h4><strong>{% prevnext "week_calendar" calendar period "\W\e\ek W, M Y" %}</strong></h4>
    <div class="now">
      <a class="button" href="{% url "week_calendar" calendar.slug %}">
        {% trans "This week" %}
      </a>
    </div>
  </div>
</div>
<div class="row row-centered">
  {% for day in period.get_days %}
    <div class="col-md-3">
      <div class="row row-centered">
        <a href="{% url "day_calendar" calendar.slug %}{% querystring_for_date day.start 3 %}">
          {{day.start|date:"l, d"}}
        </a>
      </div>
      {% if forloop.first %}
          {% daily_table day %}
      {% else %}
          {% daily_table day %}
      {% endif %}
    </div>
  {% endfor %}
</div>

{% endblock %}
